      #buttons {
        min-width: 110%;
        background-color: #e0e0e0;
      }

      #bottom_left_textArea {
        display: inline-block;
        min-width: 39%;
        height: 100vh;
      }
      #bottom_right_textArea {
        display: inline-block;
        min-width: 59%;
        height: 100vh;
      }

      .meta {
        background-color: lightyellow;
      }
      #showThis {
        display: block;
      }
      #hideThis {
        display: none;
      }
